.page {
  background: linear-gradient(180deg, #f5f5f5 0%, #fbfbfb 100%);
}
.page h1 {
  margin: 0;
  padding: 40px 0px;
}
.header {
  margin-top: 40px;
  text-align: center;
}
.recommended {
  display: flex;
  justify-content: center;
}
.parent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 1300px;
  place-items: center;
  gap: 25px;
}
.offerts {
  animation: fadeInUp 0.2s ease forwards;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  background-color: inherit;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
  transform: 0.2s;
  cursor: pointer;
  display: block;
  background-color: white;
}
.companyImg {
  width: 100px;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
.info {
  height: 100%;
  width: calc(100% - 100px - 200px);
  float: left;
}
.info1 {
  height: 50%;
  display: flex;
  flex-direction: column;
}
.info2 {
  height: 50%;
  display: flex;
  flex-direction: row;
}
.info2 span {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.info2 span svg {
  height: 20px;
}
.info2 div {
  width: 100%;
  display: flex;
  align-items: end;
  padding-bottom: 15px;
  gap: 20px;
  float: left;
  overflow: hidden;
}

.info2 div:last-child {
  justify-content: end;
  gap: 10px;
}
.info2 div:last-child span {
  background-color: rgba(211, 211, 211, 0.322);
  padding: 4px;
  font-size: 12px;
  border-radius: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.addToFavorite {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.offerts p {
  width: 100px;
  display: flex;
  min-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.buttonCity {
  all: unset;
}
.cities {
  display: none !important;
  height: 50px;
  position: absolute;
  width: 150px !important;
  padding: 5px;
  height: 100px;
  background-color: white;
  overflow-y: auto !important;
  transform: translateY(60px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

.apply {
  background: linear-gradient(180deg, #a84aff, #8100fa);
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
  height: 35px;
  width: 150px;
  cursor: pointer;
}
.showCities {
  display: block !important;
}

