.conteiner {
  background-color: rgba(0, 0, 0, 0.199);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1111;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.details {
  width: 700px;
  height: 800px;
  background: #fff;
  border-radius: 6px;
  padding: 41px 30px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
}
.closeWindow{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.closeWindow svg{
    height: 30px;
    width: 30px;
}
