/* OVERLAY */
.container1 {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 99999;
  display: none;
  justify-content: center;
  align-items: center;
}

/* MAIN MODAL */
.container {
  width: 85%;
  max-width: 900px;
  height: 85%;
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 10px 45px rgba(0, 0, 0, 0.15);
}

/* TOP BAR */
.actionsBar {
  padding: 12px 16px;
  display: flex;
  justify-content: flex-end;
  background: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
}

.closeBtn {
  all: unset;
  width: 38px;
  height: 38px;
  display: grid;
  place-items: center;
  cursor: pointer;
  background: white;
  border: 1px solid #e6e9ee;
  border-radius: 8px;
  transition: 0.2s;
}

.closeBtn:hover {
  background: #f3f4f6;
}


.content {
  flex: 1;
  overflow-y: auto;
  padding: 30px 40px;
  background: #f9fafb;
}


.form {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.form h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}


label {
  font-weight: 600;
}

input,
select,
textarea {
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.15);
}


.salaryGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}


.skill {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.skillsList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.skillsList span {
  background: #e5e7eb;
  padding: 6px 6px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}
label .span{
  font-size: 10px;
}

.submitBtn,
.saveBtn {
  width: fit-content;
  padding: 10px 18px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.submitBtn:hover {
  background: #2563eb;
}


.error {
  color: #dc2626;
  margin-bottom: 12px;
  font-size: 14px;
}

.info {
  color: #16a34a;
  margin-bottom: 12px;
  font-size: 14px;
}


@media (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .content {
    padding: 20px;
  }

  .form {
    padding: 20px;
  }

  .salaryGroup {
    grid-template-columns: 1fr;
  }
}
