.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #fff;
  padding: 24px;
  width: 450px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal h2 {
  margin-bottom: 10px;
}

input,
textarea,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.preview {
  width: 100px;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  border: 1px solid #ddd;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.saveBtn {
  background: #008000;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.cancelBtn {
  background: #aaa;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
}

.info {
  color: green;
  font-size: 12px;
}
