.page {
  background: linear-gradient(180deg, #f5f5f5 0%, #fbfbfb 100%);
}
.header {
  margin-top: 40px;
  text-align: center;
}
.recommended {
  display: flex;
  justify-content: center;
}
.parent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 1300px;
  place-items: center;
  gap: 25px;
  position: relative;
}

/*Prtzycisk pokaz wiecej*/
.showMoreOfferts {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showMoreOfferts button {
  background-color: black;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
}

.showMoreOfferts button:hover {
  background-color: rgba(211, 211, 211, 0.301);
  border: 1px solid rgba(211, 211, 211, 0.301);
  color: black;
}

/*Pokaz okno*/
.showWindow {
  display: flex !important;
}

.filter {
  position: relative;
  left: 400px;
  height: 40px;
  border-radius: 50px;
  width: 100px;
  background-color: inherit;
  font-size: 14px;
  border: 1px solid gray;
  cursor: pointer;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*MEDIA QUERY*/
@media screen and (min-width: 1065px) and (max-width: 1336px) {
  .parent {
    grid-template-columns: repeat(1, 1fr);
    width: 1000px;
  }
  .filter {
    left: 250px;
  }
}
@media screen and (min-width: 521px) and (max-width: 1064px) {
  .recommended {
    width: 100%;
  }
  .parent {
    grid-template-columns: repeat(1, 1fr);
    width: calc(100% - 10px);
  }
  .filter {
    left: 100px;
  }
}
@media screen and (max-width: 768px) {
  .filter {
    display: none;
  }
}
@media screen and (max-width: 880px) {
  .offerts {
    height: 200px;
  }
  .recommended {
    height: 2000px;
  }
  .parent {
    height: 2000px;
  }
  .parent .offerts {
    height: 200px;
  }
  .info1 {
    height: 40%;
  }
  .info2 {
    height: 50%;
    flex-direction: column;
    width: 100%;
  }

  .info2 div:last-child {
    height: 40%;
    justify-content: unset;
    align-items: end;
  }
  .info2 div:first-child {
    height: 60%;
    flex-wrap: wrap;
    justify-content: unset;
    align-items: end;
  }

  .info2 div:first-child span:nth-child(2),
  .info2 div:first-child span:nth-child(3) {
    display: none;
  }
  .info2 div {
    padding: 0px;
  }
}

@media screen and (max-width: 520px) {
  .ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s linear;
    white-space: nowrap;
    padding: 0.5rem 1rem;
  }
  .ellipsis:focus,
  .ellipsis:hover {
    color: transparent;
  }
  .ellipsis:focus:after,
  .ellipsis:hover:after {
    content: attr(data-text);
    overflow: visible;
    text-overflow: inherit;
    background: #fff;
    position: absolute;
    left: auto;
    top: auto;
    width: auto;
    max-width: 20rem;
    border: 1px solid #eaebec;
    padding: 0 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    white-space: normal;
    word-wrap: break-word;
    display: block;
    color: black;
    margin-top: -1.25rem;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recommended {
    width: 100%;
  }
  .parent {
    grid-template-columns: repeat(1, 1fr);
    width: calc(100% - 10px);
  }
}
