.main {
  background-color: #222831;
  box-sizing: border-box;
  padding-top: 60px;
}
.parent {
  display: grid;
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.div2 {
  display: flex;
  justify-content: center;
  height: 650px;
}
.searchBox {
  border: 1px solid rgb(71, 76, 89);
  background-color: #393E46;
  height: 450px;
  width: 80%;
  max-width: 1475px;
}
.searchBox form {
  width: 100%;
  height: 100%;
}
.form1,
.form2 {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form3 {
  height: 20%;
  padding: 20px;
}
.search,
.location,
.type,
.experience {
  width: 280px;
  height: 60px;
  background-color: #222831;
  padding: 6px;
  border: 1px solid rgb(71, 76, 89);
  transition: 0.2s;
  cursor: pointer;
}
.search:hover,
.location:hover,
.type:hover,
.experience:hover{
  background-color: #948979 !important;
  border: 1px solid #948979;
}


.formHeaders {
  all: unset;
  font-weight: bolder;
}
.searchOptions {
  border: 1px solid rgb(71, 76, 89);
  background-color: #222831;
  height: 150px;
  width: 200px;
  border-radius: 5px;
  top: 40px;
  left: -6px;
}
.wrapper {
  position: relative;
  top: 40px;
  left: -6px;
  z-index: 111;
  display: flex;
  justify-content: center;
}

.location .searchOptions {
  height: 320px;
}

.headers {
  padding-left: 10px;
}
.tryby {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding-left: 10px;
}

.specializations,
.technologies {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.specialization,
.technologie {
  background-color: transparent;
  height: 31px;
  border-radius: 20px;
  border: 1px solid rgb(71, 76, 89);
  font-size: 14px;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.technologie:hover,
.specialization:hover {
  background-color: #948979 !important;
  color: #ece6e4;
  border: 1px solid #948979;
}
.checked {
  background-color: #948979 !important;
  border-color: #948979;
  color: #ece6e4;
}
.showMenu {
  display: none;
}
.technologie svg,
.technologie img {
  transform: scale(0.7);
}
.search {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.experience {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.specialization:hover {
  background-color: #948979;
}
.clear,
.searchButton {
  height: 40px;
  background-color: #222831;
  border-radius: 20px;
  border: 1px solid rgb(71, 76, 89);
  transition: 0.1s;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.clear {
  width: 100px;
}
.searchButton {
  width: 200px;
}
.clear:hover,
.searchButton:hover {
  background-color: #948979 !important;
  border: 1px solid #948979;
}
.searchButton:active {
  background-color: #948979 !important;
  border: 1px solid #948979;
}