.main {
  padding-left: calc(4em + 10px);
  background-color: rgb(18, 24, 40);
  box-sizing: border-box;
}
.parent {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 3px;
  width: 100%;
  height: 2000px;
  background-color: rgb(18, 24, 40);
  z-index: 12;
}
.parent * {
  color: rgb(224, 225, 227);
}

.div1 {
  grid-column: span 11 / span 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div2 {
  grid-column: span 9 / span 9;
  grid-row: span 6 / span 6;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
}
.searchBox {
  border: 1px solid rgb(71, 76, 89);
  border-radius: 5px;
  background-color: rgb(30, 36, 51);
  height: 450px;
  width: 80%;
  max-width: 1475px;
}
.searchBox form {
  width: 100%;
  height: 100%;
}
.form1,
.form2 {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form3 {
  height: 20%;
  padding: 20px;
}
.search,
.location,
.type,
.experience {
  width: 280px;
  height: 50px;
  background-color: rgb(224, 225, 227);
  padding: 6px;
  color: black;
  border: none;
  border-top: 1px solid rgb(71, 76, 89);
  border-bottom: 1px solid rgb(71, 76, 89);
}
.specializations,
.technologies {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.specialization,
.technologie {
  background-color: transparent;
  height: 31px;
  border-radius: 20px;
  border: 1px solid rgb(71, 76, 89);
  font-size: 14px;
  color: rgb(224, 225, 227);
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checked {
  background-color:  rgba(15, 19, 32, 0.527) !important;
}
.technologie svg,
.technologie img {
  transform: scale(0.7);
}
.search {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.experience {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.specialization:hover {
  background-color: rgba(18, 24, 40, 0.178);
}

.location option,
.type option,
.experience option {
  height: 40px;
  color: black;
  border-radius: 5px;
}

.clear,
.searchButton {
  height: 40px;
  background-color: rgb(224, 225, 227);
  border-radius: 20px;
  border: none;
  transition: 0.1s;
  cursor: pointer;
  font-size: 14px;
  color: black;
  transition: 0.2s;
}
.clear {
  width: 100px;
}
.searchButton {
  width: 200px;
}

.clear:hover,
.searchButton:hover {
  background-color: rgb(255, 255, 255);
}

.div3 {
  grid-column: span 11 / span 11;
  grid-row: span 4 / span 4;
  grid-row-start: 8;
}
