.page {
  background: linear-gradient(180deg, #f5f5f5 0%, #fbfbfb 100%);
}
.header {
  margin-top: 40px;
  text-align: center;
}
.recommended {
  display: flex;
  justify-content: center;
}
.parent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 1300px;
  place-items: center;
  gap: 25px;
  position: relative;
}

/*Divy z ofertami*/
.parent .offerts {
  animation: fadeInUp 0.2s ease forwards;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  background-color: inherit;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
  transform: 0.2s;
  cursor: pointer;
  z-index: 0;
  display: block;
  overflow: hidden;
}

.companyImg {
  width: 100px;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
.info {
  height: 100%;
  width: calc(100% - 100px - 80px);
  float: left;
}
.info1 {
  height: 50%;
  display: flex;
  flex-direction: column;
}
.info2 {
  height: 50%;
  display: flex;
  flex-direction: row;
}
.info2 span {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.info2 span svg {
  height: 20px;
}
.info2 div {
  width: 100%;
  display: flex;
  align-items: end;
  padding-bottom: 15px;
  gap: 20px;
  float: left;
  overflow: hidden;
}

.info2 div:last-child {
  justify-content: end;
  gap: 10px;
}
.info2 div:last-child span {
  background-color: rgba(211, 211, 211, 0.322);
  padding: 4px;
  font-size: 12px;
  border-radius: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.addToFavorite {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
.addToFavorite svg {
  width: 20px;
  height: 20px;
  fill: grey;
  transition: 0.2s;
}
.addToFavorite svg:hover {
  fill: rgb(247, 103, 127);
}
.offerts p {
  width: 100px;
  display: flex;
  min-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.showMoreOfferts button {
  background-color: black;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
}
.showMoreOfferts button:hover {
  background-color: rgba(211, 211, 211, 0.301);
  border: 1px solid rgba(211, 211, 211, 0.301);
  color: black;
}

/*Ładowanie */
.loader {
  position: absolute;
  top: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.loaderAnimation {
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid rgb(121, 121, 121);
  border-right-color: orange;
  animation: l2 1s infinite linear;
}

/*Stópka*/
.footer {
  height: 500px;
  width: 100%;
  background-color: rgb(31, 31, 31);
  color: white;
  padding: 20px;
}

.showOfert {
  display: block;
}
/*Pokaz okno*/
.showWindow {
  display: flex !important;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*MEDIA QUERY*/
@media screen and (min-width: 1065px) and (max-width: 1336px) {
  .parent {
    grid-template-columns: repeat(1, 1fr);
    width: 1000px;
  }
}
@media screen and (min-width: 521px) and (max-width: 1064px) {
  .recommended {
    width: 100%;
  }
  .parent {
    grid-template-columns: repeat(1, 1fr);
    width: calc(100% - 10px);
  }
}
@media screen and (max-width: 880px) {
  .offerts {
    height: 200px;
  }
  .recommended {
    height: 2000px;
  }
  .parent {
    height: 2000px;
  }
  .parent .offerts {
    height: 200px;
  }
  .info1 {
    height: 40%;
  }
  .info2 {
    height: 50%;
    flex-direction: column;
    width: 100%;
  }

  .info2 div:last-child {
    height: 40%;
    justify-content: unset;
    align-items: end;
  }
  .info2 div:first-child {
    height: 60%;
    flex-wrap: wrap;
    justify-content: unset;
    align-items: end;
  }

  .info2 div:first-child span:nth-child(2),
  .info2 div:first-child span:nth-child(3) {
    display: none;
  }
  .info2 div {
    padding: 0px;
  }
}

@media screen and (max-width: 520px) {
  .ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s linear;
    white-space: nowrap;
    padding: 0.5rem 1rem;
  }
  .ellipsis:focus,
  .ellipsis:hover {
    color: transparent;
  }
  .ellipsis:focus:after,
  .ellipsis:hover:after {
    content: attr(data-text);
    overflow: visible;
    text-overflow: inherit;
    background: #fff;
    position: absolute;
    left: auto;
    top: auto;
    width: auto;
    max-width: 20rem;
    border: 1px solid #eaebec;
    padding: 0 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
    white-space: normal;
    word-wrap: break-word;
    display: block;
    color: black;
    margin-top: -1.25rem;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recommended {
    width: 100%;
  }
  .parent {
    grid-template-columns: repeat(1, 1fr);
    width: calc(100% - 10px);
  }
}
