.menu-bar {
  position: fixed;
  left: 5px;
  top: 5px;
  height: 325px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 11;
  overflow: hidden;
  width: 500px;
  height: calc(100% - 10px);
}
.menu {
  position: fixed;
  left: 5px;
  top: 5px;
  height: 325px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  z-index: 10;
  overflow: hidden;
  height: calc(100% - 10px);
  box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}
.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 4em;
  line-height: 5em;
  text-align: center;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}
.menu li a:hover {
  background-color: orange;
}
.menu li a:hover > * {
  fill: white;
}
.hidden {
  opacity: 0;
}

.black {
  fill: #000;
}
.icon {
  font-size: 25px;
}

.menu-bar {
  overflow: hidden;
  left: 4em;
  z-index: 5;
}
.menu-bar li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 200px;
  line-height: 5em;
  text-align: center;
  position: relative;
  background-color: orange;
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.26);
  transition: 0.2s;
}
