.navBar {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}
.headerElement {
  position: fixed;
  width: 100%;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 20px;
  font-size: 30px;
}
.addOffert {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 0px 20px;
  height: 50px;
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
}
.addOffert:hover {
  background-color: rgb(243, 243, 243);
}
.account {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: center;
  gap: 20px;
}
.account button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 100%;
}
.icon {
  height: 20px;
  width: 20px;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.list ul li {
  transition: 0.2s;
  cursor: pointer;
}
.list ul li:hover {
  color: orange;
}
.searchDiv {
  height: 200px;
  background-color: rgb(255, 181, 45);
}
.searchDiv h1 {
  padding: 0;
  margin: 0;
  height: 55%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 45%;
}
.localization,
.position,
.technologies {
  background-color: white;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
}
.localization p,
.position p,
.technologies p {
  margin-left: 20px;
}
.arrow {
  margin-right: 10px;
}
.filter {
  border: 1px solid white;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 50px;
  cursor: pointer;
}
.filter > * {
  color: white;
  font-weight: bolder;
}
.filter:hover {
  background-color: rgba(243, 243, 243, 0.151);
}
