.navBar {
  width: 100%;
  height: 80px;
  background-color: #f4e7e1;
  border-bottom: 1px solid rgb(71, 76, 89);
  position: fixed;
  display: flex;
  justify-content: space-between;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 100px;
    font-size: 30px;
}
