.headerElement {
  width: 100%;
  top: 0;
  height: 80px;
  display: flex;
  border-bottom: 1px solid #eaebec;
}
.navBar {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  color: #1e3a8a;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 20px;
  font-size: 30px;
}

.addOffert:hover {
  background-color: rgb(243, 243, 243);
}
.account {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: center;
  gap: 20px;
}
.account button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 100%;
  cursor: pointer;
}
.icon {
  height: 20px;
  width: 20px;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.accountDiv {
  width: 150px;
  position: fixed;
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  z-index: 111;
  animation: slideToDown 0.3s forwards;
}
.accountDiv a {
  display: block;
  padding: 10px;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.accountDiv a:visited {
  text-decoration: none;
}
.accountDiv a:hover {
  color: orange;
}
.accountDivHide {
  display: none !important;
}
