.headerElement {
  position: fixed;
  width: 100%;
}
.navBar {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 20px;
  font-size: 30px;
}
.addOffert {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 0px 20px;
  height: 50px;
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
}
.addOffert:hover {
  background-color: rgb(243, 243, 243);
}
.account {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: center;
  gap: 20px;
}
.account button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 100%;
}
.icon {
  height: 20px;
  width: 20px;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.list ul li {
  transition: 0.2s;
  cursor: pointer;
}
.list ul li:hover {
  color: orange;
}
.searchDiv {
  height: 200px;
  background-color: rgb(255, 181, 45);
  transition: 0.2s;
}
.searchDiv h1 {
  padding: 0;
  margin: 0;
  height: 100px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.2s;
}
.hideH1 {
  opacity: 0;
}
.smallSearchDiv {
  height: 100px;
}
.formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100px;
  transition: 0.2s;
}
.moveUp {
  transform: translateY(-100px);
}
.localization,
.position,
.technologie {
  background-color: white;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
}
.bordered {
  border: 2px solid black;
}
.localization p,
.position p,
.technologie p {
  margin-left: 20px;
}
.arrow {
  margin-right: 10px;
}
.filter {
  border: 1px solid white;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 50px;
  cursor: pointer;
}
.filter > * {
  color: white;
  font-weight: bolder;
}
.filter:hover {
  background-color: rgba(243, 243, 243, 0.151);
}
.hiddenMenu {
  display: none;
}
/*Filtrowanie*/
.searchOfferts {
  width: 615px;
  height: 100%;
  padding: 20px;
  background-color: white;
  position: absolute;
  right: 0;
  animation: slideOnRight 0.1s ease-out forwards;
}
.closeWindow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.closeWindow svg {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.searchOffertsDiv {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.158);
}
.toggleFilter {
  display: none;
}

/*Okna wyskaujce*/
.localizations,
.positions,
.technologies {
  position: fixed;
  width: 350px;
  height: 250px;
  transform: translate(-2px, 40px);
  background-color: white;
  border: 2px solid black;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.searchBox {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBox input {
  all: unset;
  width: 100%;
  margin: 0px 20px;
  height: 35px;
  padding: 0px 20px;
}
.searchBox input:focus {
  border: 2px solid gray;
  border-radius: 5px;
}
.options {
  width: 100%;
  overflow-y: scroll;
  height: 189px;
}
.options p {
  border-bottom: 1px solid rgba(128, 128, 128, 0.253);
  padding: 10px 0px;
  margin: 0px 20px;
}
.options p:last-child {
  border: none;
}
.showMenu {
  display: none;
}
.rotate {
  transform: rotate(180deg);
}
/*MEDIA QUERY*/
@media screen and (min-width: 1024px) and (max-width: 1336px) {
  .localization,
  .position,
  .technologie {
    width: 250px;
  }
  .localizations,
  .positions,
  .technologies {
    width: 250px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .localization,
  .position {
    width: 280px;
  }
  .technologie {
    display: none;
  }

  .localizations,
  .positions,
  .technologies {
    width: 280px;
  }
  .searchDiv h1 {
    font-size: 40px;
  }
  .list {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .searchDiv {
    height: 100px;
  }
  .searchDiv .formDiv {
    display: none;
  }
  .searchDiv h1 {
    font-size: 30px;
    height: 100%;
    text-align: center;
  }
  .list {
    display: none;
  }
  .hiddenMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
  }
  .hiddenMenu button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 85%;
    height: 55px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
  }
  .hiddenMenu button:hover {
    background-color: rgba(253, 253, 253, 0.096);
  }
  .hiddenMenu svg {
    width: 20px;
    height: 20px;
    transform: translateY(1px);
  }
  .searchOfferts {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .addOffert {
    display: none;
  }
}
/*animacje*/
@keyframes slideOnRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
