.headerElement {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 180px;
  z-index: 111;
}
.navBar {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 20px;
  font-size: 30px;
}
.addOffert {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 0px 20px;
  height: 50px;
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
}
.addOffert:hover {
  background-color: rgb(243, 243, 243);
}
.account {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  align-items: center;
  gap: 20px;
}
.account button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 100%;
  cursor: pointer;
}
.icon {
  height: 20px;
  width: 20px;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.list ul li {
  transition: 0.2s;
  cursor: pointer;
}
.list ul li:hover {
  color: orange;
}
.searchDiv {
  height: 100px;
  transition: 0.2s;
}
.orangeSearchDiv {
  background: linear-gradient(180deg, #ff8a00, #ff5a00);
}
.darkSearchDiv {
  background: linear-gradient(180deg, #a84aff, #8100fa);
}

.blueSearchDiv {
  background-color: rgb(98, 134, 255);
}

.searchDiv h1 {
  padding: 0;
  margin: 0;
  height: 100px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.2s;
}
.localization,
.position,
.technologie {
  background-color: white;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.searchInput {
  border: none;
  padding-left: 20px;
}
.localization::placeholder {
  font-size: 16px;
  color: black;
}

.bordered {
  border: 2px solid black;
}
.localization p,
.position p,
.technologie p {
  margin-left: 20px;
  user-select: none;
}
.arrow {
  margin-right: 10px;
}
.filter {
  border: 1px solid white;
  width: 95px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  left: 50px;
}
.filter > * {
  color: white;
  font-weight: bolder;
}
.filter:hover {
  background-color: rgba(243, 243, 243, 0.151);
}
.filter p {
  all: unset;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

.hiddenMenu {
  display: none;
}
.active {
  display: block !important;
}
/*Filtrowanie*/
.searchOfferts {
  width: 615px;
  height: 100%;
  padding: 20px;
  background-color: white;
  position: absolute;
  right: 0;
  animation: slideOnRight 0.1s ease-out forwards;
  z-index: 1111;
}
.closeWindow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.closeWindow svg {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.searchOffertsDiv {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.158);
}
.mainFilters {
  height: calc(100% - 80px - 80px);
  overflow-y: auto;
  overflow-x: hidden;
}
.toggleFilter {
  display: none;
}
.optionsFilter {
  width: 575px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.optionsFilter > div {
  width: 575px;
  cursor: pointer;
}
.experienceDiv,
.contract {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.experiencesTypes,
.contractTypes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.experiencesTypes p,
.contractTypes p {
  border: 1px solid gray;
  border-radius: 20px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  width: 150px;
  margin: 0;
  font-size: 14px;
  text-align: center;
}
.toggleColor {
  background-color: black;
  color: white;
  border: 1px solid black;
}
.saleryDiv {
  height: 100px;
}
.slider {
  position: relative;
  height: 40px;
}
.money {
  border: 1px solid gray;
  border-radius: 20px;
  height: 40px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  margin: 0;
}
.moneyDiv {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.setFilter {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.setFilter button:nth-child(1) {
  border: 1px solid gray;
  background-color: inherit;
  width: 200px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bolder;
  height: 50px;
  cursor: pointer;
}
.setFilter a {
  border: none;
  background: linear-gradient(180deg, #ff8a00, #ff5a00);
  width: 250px;
  border-radius: 50px;
  font-size: 16px;
  color: white;
  font-weight: bolder;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/*Okna opcji w menu*/
.localizations,
.positions,
.technologies {
  position: absolute;
  width: inherit;
  height: 250px;
  transform: translate(0px, 40px);
  background-color: white;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  z-index: 0;
  border: 1px solid rgb(209, 208, 208);
  border-top: none;
}

.optionsFilter .localizations,
.optionsFilter .positions,
.optionsFilter .technologies {
  z-index: 1;
}
.showMenu {
  display: none;
}

.searchBox {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBox input {
  all: unset;
  width: 100%;
  margin: 0px 20px;
  height: 35px;
  padding: 0px 20px;
}
.searchBox input:focus {
  border: 2px solid gray;
  border-radius: 5px;
}
.options {
  width: 100%;
  overflow-y: scroll;
  height: 189px;
}
.options p {
  border-bottom: 1px solid rgba(128, 128, 128, 0.253);
  padding: 10px 0px;
  margin: 0px 20px;
}
.options p:last-child {
  border: none;
}

.rotate {
  transform: rotate(180deg);
}
/*KONTO*/

.accountDiv {
  width: 150px;
  position: fixed;
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  z-index: 111;
  animation: slideToDown 0.3s forwards;
}
.accountDiv a {
  display: block;
  padding: 10px;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.accountDiv a:visited {
  text-decoration: none;
}
.accountDiv a:hover {
  color: orange;
}
.accountDivHide {
  display: none !important;
}

/*Zaznaczone opcje w polach wysuwanych */
.checked {
  background-color: rgba(112, 112, 112, 0.062);
}

/*MEDIA QUERY*/
@media screen and (min-width: 1024px) and (max-width: 1336px) {
  .localization,
  .position,
  .technologie {
    width: 250px;
  }
  .localizations,
  .positions,
  .technologies {
    width: inherit;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .localization,
  .position {
    width: 280px;
  }
  .localizations,
  .positions,
  .technologies {
    width: inherit;
  }
  .toHide {
    display: none !important;
  }
  .searchDiv h1 {
    font-size: 40px;
  }
  .list {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .searchDiv {
    height: 100px;
  }
  .optionsFilter {
    width: 100%;
  }
  .optionsFilter > div {
    width: inherit;
  }
  .optionsFilter > div > div {
    width: calc(100% + 4px);
  }
  .searchDiv .formDiv {
    display: none;
  }
  .searchDiv h1 {
    font-size: 30px;
    height: 100%;
    text-align: center;
  }
  .list {
    display: none;
  }
  .hiddenMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
  }
  .hiddenMenu button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 85%;
    height: 55px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
  }
  .hiddenMenu button:hover {
    background-color: rgba(253, 253, 253, 0.096);
  }
  .searchOfferts {
    width: 100%;
  }
  .headerElement {
    height: 180px;
  }
  .setFilter button:nth-child(1) {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
  .setFilter button:nth-child(2) {
    width: 150px;
    height: 40px;
    font-size: 14px;
  }
  .experienceDiv,
  .contract {
    height: 140px;
  }
}
@media screen and (max-width: 479px) {
  .addOffert {
    display: none;
  }
  .experienceDiv,
  .contract {
    height: 140px;
  }

  .accountDiv {
    width: calc(100% + 20px);
    top: 80px;
    height: 100px;
    justify-content: space-around;
  }
}
/*animacje*/
@keyframes slideOnRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideToDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
