.modalBackground {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  width: 400px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-size: 14px;
  font-weight: 500;
}

input,
select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.cancelBtn {
  background: #ccc;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.saveBtn {
  background: #007bff;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.saveBtn:hover {
  background: #0065d4;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 8px;
}

.info {
  color: green;
  font-size: 12px;
  margin-top: -8px;
  margin-bottom: 8px;
}
