.dashboard {
  padding: 20px;
  display: flex;
 flex-direction: column;
 width: 100%;
 align-items: center;
}

.chartContainer {
  margin: 30px 0;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}
