.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_form {
  width: 100%;
  min-width: 400px;
  max-width: 435px;
  background: #fff;
  border-radius: 6px;
  padding: 41px 30px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
}
.form input {
  height: 60px;
  width: 100%;
  padding: 0px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.form a {
  font-size: 16px;
  color: #eca217;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}
.form input.button {
  color: #fff;
  background: #eca217;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover {
  background: #eea010;
}
.signup {
  font-size: 17px;
  text-align: center;
}
.signup label {
  display: flex;
}
.error {
  display: flex;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.info {
  width: 300px;
  height: 100px;
  background: #fff;
  border-radius: 6px;
  padding: 41px 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 111111;
  width: 100%;
  min-width: 400px;
  max-width: 435px;
  position: relative;
  top: -15px;
  display: none;
  text-align: center;
  transition-duration: 0.2s;
}
.info:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.login_form h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.login_form p {
  text-align: center;
  font-weight: 500;
}
.login_form .separator {
  position: relative;
  margin-bottom: 24px;
}
/* Login option separator styling */
.login_form .separator span {
  background: #fff;
  z-index: 1;
  padding: 0 10px;
  position: relative;
}
.login_form .separator::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  height: 1px;
  background: #c2c2c2;
  display: block;
}
form .input_box label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}
/* Input field styling */
.input_box input {
  width: 100%;
  height: 57px;
  font-size: 17px;
  padding: 0px;
  border: 1px solid lightgrey;
  background-color: inherit;
  border-radius: 50px;
  padding: 20px;
  margin: 0;
}
.input_box input:focus {
  border-color: #eca217;
  background-color: inherit;
}
.input_box .password_title {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.input_box {
  position: relative;
  margin-bottom: 15px;
}
.sign_up a {
  text-decoration: none;
  color: #eca217;
  font-weight: 500;
}
.sign_up a :hover {
  text-decoration: underline;
}
/* Login button styling */
.form button {
  width: 100%;
  height: 56px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #eca217;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 28px;
  transition: 0.3s ease;
}
.form button:hover {
  background: #eea010;
}
.checkbox_box {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.checkbox_box input:checked {
  accent-color: #eea010;
}

@media screen and (max-width: 520px) {
  .login_form {
    box-shadow: none;
  }
  .form {
    height: 100%;
    width: 100%;
  }
}
